extends layout

block content

  div(class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 items-center justify-center")
    
    for country in country_list

      div.flex.flex-col.p-4.bg-orange-50.rounded-lg.shadow-lg.text-slate-800.text-center
        a(href=country.url)
          img.w-96.h-64.object-cover(src=country.img, alt="Picture of: #{country.name}")
        p.font-bold.text-2xl.mb-4 #{country.name}
        if country.hotelCount == 1
          p.text-green-700.font-bold #{country.hotelCount} available room
        else
          p.text-green-700.font-bold #{country.hotelCount} available rooms
        if country.sites.length == 1
          p.text-slate-700 #{country.sites.length} must-see location
        else
          p.text-slate-700 #{country.sites.length} must-see locations
        

